<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="Off" defaultRedirect="App_Resources\Pages\AllGeneral\error.html"/>
    <httpRuntime executionTimeout="110" maxRequestLength="102400" requestLengthDiskThreshold="1000"/>
    <sessionState timeout="3600"/>
    <authentication mode="Forms">
      <forms loginUrl="~\App_Resources\Pages\Anonymous\Login.aspx" />
    </authentication>
    <roleManager enabled="true" defaultProvider="MyRoleProvider">
      <providers>
        <add name="MyRoleProvider" connectionStringName="DBConnection" type="System.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
    <membership defaultProvider="MyMembershipProvider">
      <providers>
        <add connectionStringName="DBConnection" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="true"
             applicationName="/" requiresUniqueEmail="false" passwordFormat="Clear" maxInvalidPasswordAttempts="10" minRequiredPasswordLength="6"
      minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" name="MyMembershipProvider" type="System.Web.Security.SqlMembershipProvider"/>
      </providers>
    </membership>
    <compilation debug="true"  targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <machineKey validationKey="DC760407977086200BCE75DDD5E4221382C85F5B3D8A805283056406FF2F33FD76DFDCB95CAEDA9428B122A1312DFD206A68E65B27007AE21EEEAB3190174816" decryptionKey="140DCF24D89C1E553A10A03E509C452F8445344063BF6AC337969057363B0A41" validation="SHA1" decryption="AES"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="info@automated-schools.com">
        <network host="relay-hosting.secureserver.net" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <add name="DBConnection" connectionString="Server=184.168.47.15; Initial Catalog=SchoolPortal;User ID=akwaoyo1; password=Emperor101x;"
      providerName="System.Data.SqlClient" />
  
    <add name="SchoolPortalConnectionString" connectionString="Data Source=184.168.47.15;Initial Catalog=SchoolPortal; User ID=akwaoyo1; password=Emperor101x;"
      providerName="System.Data.SqlClient" />

  <!--<add name="DBConnection" connectionString="Data Source=DESKTOP-IJ0S3I9;Initial Catalog=SchoolPortal;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  
  <add name="SchoolPortalConnectionString" connectionString="Data Source=DESKTOP-IJ0S3I9;Initial Catalog=SchoolPortal;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>

</configuration>